<!DOCTYPE html>
<html>
    {% load static %}
    <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
    <header>
        <title>EasyMeetingBooker - Book a Room</title>
    </header>
    <body>
        <!-- nav -->
        <div class="navbarContainerHome">
            <div class="navItemContainer">
                <div class="dropdownContainer">
                    <div class="profileContainer">
                        <img src="assets/luka_test.jpg" class="profileImage">
                    </div>
                    <div class="dropdownContent">
                        <a href="{% url 'settings' %}" class="dropdownItem">Settings</a>
                        <a href="{% url 'index' %}" class="dropdownItem">Log Out</a>
                    </div>
                </div>
            </div>
            <div class="logoContainer">
                <img class="logo" src="assets/EasyBook.png">    
            </div>
        </div>
        
        <!--page content-->
        <div class="pageDisplay">
            <aside>
                <a href="{% url 'book' %}" class="asideButton">Book a Meeting</a>
                <a href="{% url 'signUp' %}" class="asideButton">View or Edit a Meeting</a>s
            </aside>
            <div class="contentBox">
                <h1>
                    Make a Booking
                </h1>
                <h2>
                    1. Choose a day & timeslot
                </h2>
                <h2>
                    2. Confirm Details
                </h2>
            </div>
        </div>
        <script src="navbar.js"></script>
        <!--footer-->
    </body>
</html>