<!DOCTYPE html>
<html>
    <!--importing files-->
    <head>
        {% load static %}
        <title>Home - EasyMeetingBooker</title>
        <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
    </head>
    <body>
        <!-- nav -->
        <div class="navbarContainerHome">
            <div class="navItemContainer">
                <div class="dropdownContainer">
                    <div class="profileContainer">
                        <img src="{% static 'images/defaultPfp.jpg' %}" class="profileImage">
                    </div>
                    <div class="dropdownContent">
                        <a href="{% url 'settings' %}" class="dropdownItem">Settings</a>
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="dropdownItem" style="width: 100%">Log Out</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="logoContainer">
                <a href="{% url 'home'%}">
                    <img class="logo" src="{% static 'images/EasyBook.png' %}">
                </a>
            </div>
        </div>
        <!--page content-->
        <div class="pageDisplay">
            <aside>
                <a href="{% url 'book' %}" class="asideButton">Book a Meeting</a>
                <a href="{% url 'viewBooking' %}" class="asideButton">View or Edit a Meeting</a>
            </aside>
            <div class="contentBox">
                <div id="indexText">
                    <p>Welcome back, {{user.username}}.</p><hr>
                </div>
                <h2>
                    Upcoming Meetings
                </h2>
                <p>Click to view and update a meeting.</p>
                {% if upcomingMeetings %}
                    <div class="meetingsBox">
                        {% for meeting in upcomingMeetings %}
                        <div class="meetingCard">
                            <a href="{% url 'editBooking' meeting.id %}" class="meetingInstance">{{ meeting.date }}, in Room {{ meeting.room }}</a>
                        </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>No meetings soon!</p>
                {% endif %}
            </div>
        </div>
        <script src="{% static 'navbar.js' %}"></script>
        <!--footer-->
    </body>
</html>