<!DOCTYPE html>
<html>
    <!--importing files-->
    <head>
        {% load static %}
        <title>Home - EasyMeetingBooker</title>
        <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
    </head>
    <body>
        <!-- nav -->
        <div class="navbarContainerHome">
            <div class="navItemContainer">
                <div class="dropdownContainer">
                    <div class="profileContainer">
                        <img src="{% static 'images/defaultPfp.jpg' %}" class="profileImage">
                    </div>
                    <div class="dropdownContent">
                        <a href="{% url 'settings' %}" class="dropdownItem">Settings</a>
                        <form action="{% url 'logout' %}" method="post" class="dropdownItem">
                            {% csrf_token %}
                            <button type="submit" class="dropdownItem">Log Out</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="logoContainer">
                <a href="{% url 'home'%}">
                    <img class="logo" src="{% static 'images/EasyBook.png' %}">
                </a>
            </div>
        </div>
        <!--page content-->
        <div class="pageDisplay">
            <aside>
                <a href="{% url 'book' %}" class="asideButton">Book a Meeting</a>
                <a href="{% url 'viewBooking' %}" class="asideButton">View or Edit a Meeting</a>
            </aside>
            <div class="contentBox">
                <div id="indexText">
                    <p>Welcome back, {{user.username}}.</p>
                </div>
                <hr>
                <div class="meetings">
                    {% if upcomingMeetings %}
                        <ul>
                            {% for meeting in upcomingMeetings %}
                            <li>
                                <a href="{% url 'editBooking' meeting.id %}">{{ meeting.date }} {{ meeting.room }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No meetings soon!</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <script src="{% static 'navbar.js' %}"></script>
        <!--footer-->
    </body>
</html>