<!DOCTYPE html>
<html>
    {% load static %}
    <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
    <header>
        <title>Login - EasyMeetingBooker</title>
    </header>
    <body>
        <!-- nav -->
        <div class="navbarContainerIndex">
            <div class="navItemContainer">
                <a href="{% url 'login' %}" class="navButton">
                    Login
                </a>
                <a href="{% url 'signUp' %}" class="navButton">
                    Sign Up
                </a>
            </div>
            <div class="logoContainer">
                <img class="logo" src="assets/EasyBook.png">
            </div>            
        </div>
        <!--page content-->
        <div class="pageDisplay">
            <aside>
                <a href="login.html" class="asideButton">Book a Meeting</a>
                <a href="login.html" class="asideButton">View or Edit a Meeting</a>
            </aside>
            <div class="contentBox">
                <div class="formTitle">
                    <h1>Login</h1>
                </div>
                <form class="signUpForm" action="{% url 'home' %}" method="post">
                    {% csrf_token %}
                    <fieldset>
                        <legend><h2>Username:</h2></legend>
                        <input type="text" id="usernameLogin" name="usernameLogin">
                    </fieldset>
                    <fieldset>
                        <legend><h2>Password:</h2></legend>
                        <input type="password" id="passwordLogin" name="passwordLogin">
                    </fieldset><br>
                    <input type="submit" value="Login">
                </form>
            </div>
        </div>
    </body>
</html>