<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <title>Login - EasyMeetingBooker</title>
        <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
    </head>
    <body>
        <!-- nav -->
        <div class="navbarContainerIndex">
            <div class="navItemContainer">
                <a href="{% url 'login' %}" class="navButton">
                    Login
                </a>
                <a href="{% url 'signUp' %}" class="navButton">
                    Sign Up
                </a>
            </div>
            <div class="logoContainer">
                <a href="{% url 'index'%}">
                    <img class="logo" src="{% static 'images/EasyBook.png' %}">
                </a>
            </div>
        </div>
        <!--page content-->
        <div class="pageDisplay">
            <aside>
                <a href="{% url 'login' %}" class="asideButton">Book a Meeting</a>
                <a href="{% url 'login' %}" class="asideButton">View or Edit a Meeting</a>
            </aside>
            <div class="contentBox">
                <div class="formTitle">
                    <h1>Login</h1>
                </div>
                <form class="signUpForm" action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <div class="formBox">
                        <h2>Username:</h2>
                        <input type="text" id="usernameLogin" name="usernameLogin" required>
                    </div>
                    <div class="formBox">
                        <h2>Password:</h2>
                        <input type="password" id="passwordLogin" name="passwordLogin" required>
                    </div><br>
                    <input type="submit" value="Login" class="submitButton">
                </form>
                <p>Don't have an account? Sign up <a href="{% url 'signUp' %}">here</a>!</p>
                {% if messages %}
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                {% endif %}
            </div>
        </div>
    </body>
</html>