<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <title>Settings - EasyMeetingBooker</title>
        <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
    </head>
    <body>
        <!-- nav -->
        <div class="navbarContainerHome">
            <div class="navItemContainer">
                <div class="dropdownContainer">
                    <div class="profileContainer">
                        <img src="{% static 'images/defaultPfp.jpg' %}" class="profileImage">
                    </div>
                    <div class="dropdownContent">
                        <a href="{% url 'settings' %}" class="dropdownItem">Settings</a>
                        <a href="{% url 'index' %}" class="dropdownItem">Log Out</a>
                    </div>
                </div>
            </div>
            <div class="logoContainer">
                <img class="logo" src="{% static 'images/EasyBook.png' %}">
            </div>
        </div>
        <!--page content-->
        <div class="pageDisplay">
            <aside>
                <a href="{% url 'book' %}" class="asideButton">Book a Meeting</a>
                <a href="{% url 'viewBooking' %}" class="asideButton">View or Edit a Meeting</a>
            </aside>
            <div class="contentBox">
                    <h1 class="formTitle">
                        Change Password
                    </h1>
                        <label for="oldPass">Old Password</label><br>
                            <input type="text" id="fname" name="fname" value=""><br>
                        <label for="newPass">New Password</label><br>
                            <input type="text" id="lname" name="lname" value=""><br><br>
                        <input id="loginButton" type="submit" value="Login">
            </div>
        </div>
        <script src="{% static 'navbar.js' %}"></script>
    </body>
</html>