<!DOCTYPE html>
<!--this is the page you get when opening the website logged out.-->
<html>
    {% load static %}
    <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
    <header>
        <title>Sign Up - EasyMeetingBooker</title>
    </header>
    <body>
        <!-- nav -->
        <div class="navbarContainerIndex">
            <div class="navItemContainer">
                <a href="{% url 'login' %}" class="navButton">
                    Login
                </a>
                <a href="{% url 'signUp' %}" class="navButton">
                    Sign Up
                </a>
            </div>
            <div class="logoContainer">
                <img class="logo" src="assets/EasyBook.png">
            </div>            
        </div>

        <!--page content-->
        <div class="pageDisplay">
            <aside>
                <a href="{% url 'signUp' %}" class="asideButton">Book a Meeting</a>
                <a href="{% url 'signUp' %}" class="asideButton">View or Edit a Meeting</a>
            </aside>
            <div class="contentBox">
                <div>   
                    <h1>Create an Account</h1>
                </div>
                <form class="signUpForm" action="{% url 'home' %}" method="post">
                    {% csrf_token %}
                    <fieldset>
                        <legend><h2>Username:</h2></legend>
                        <input type="text" id="usernameSignUp" name="usernameSignUp">
                        <p>Must not exceed 15 characters, and must only contain alphanumeric characters.</p>
                    </fieldset>
                    <fieldset>
                        <legend><h2>Password:</h2></legend>
                        <input type="password" id="passwordSignUp" name="passwordSignUp">
                        <p>Must contain upper and lower case letters, at least one number and at least one symbol.</p>
                    </fieldset><br>
                    <input type="submit" value="Sign up!">
                </form>
            </div>
        </div>
    </body>
</html>