<!DOCTYPE html>
<!--this is the page you get when opening the website logged out.-->
<html>
    <head>
        {% load static %}
        <title>Sign Up - EasyMeetingBooker</title>
        <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
    </head>
    <body>
        <!-- nav -->
        <div class="navbarContainerIndex">
            <div class="navItemContainer">
                <a href="{% url 'login' %}" class="navButton">
                    Login
                </a>
                <a href="{% url 'signUp' %}" class="navButton">
                    Sign Up
                </a>
            </div>
            <div class="logoContainer">
                <img class="logo" src="{% static 'images/EasyBook.png' %}">
            </div>            
        </div>

        <!--page content-->
        <div class="pageDisplay">
            <aside>
                <a href="{% url 'signUp' %}" class="asideButton">Book a Meeting</a>
                <a href="{% url 'signUp' %}" class="asideButton">View or Edit a Meeting</a>
            </aside>
            <div class="contentBox">
                <div>   
                    <h1>Create an Account</h1>
                </div>
                <form class="signUpForm" action="{% url 'signUp' %}" method="post">
                    {% csrf_token %}
                    <h2>{{ form.username.label_tag }}</h2>
                    {{ form.username }}<br><br>
                    <b>The following rules must be satisfied:</b>
                    <ul>
                        <li>Must be 150 characters or fewer.</li> 
                        <li>Must contain letters, digits or @/./+/-/_ only.</li>
                    </ul>
                    {{ form.username.errors }}
                    
                    <h2>{{ form.password1.label_tag }}</h2>
                    {{ form.password1 }}<br><br>
                    <div class="passwordRules">
                        <b>The following rules must be satisfied:</b>
                        <ul>
                            <li>Cannot be similar to other personal information.</li>
                            <li>Must contain at least 8 characters.</li>
                            <li>Cannot be a commonly used password.</li>
                            <li>Cannot only be numbers.</li>
                        </ul>
                    </div>
                    {{ form.password1.errors }}

                    <h2>{{ form.password2.label_tag }}</h2>
                    {{ form.password2 }}<br>
                    <p>Type your password again to verify.</p>
                    {{ form.password2.errors }}

                    <input class="submitButton" type="submit" value="Sign up!">
                </form>

                {% if messages %}
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                {% endif %}
            </div>
        </div>
    </body>
</html>