<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <title>View Bookings - EasyMeetingBooker</title>
        <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
    </head>
    <body>
        <!-- nav -->
        <div class="navbarContainerHome">
            <div class="navItemContainer">
                <div class="dropdownContainer">
                    <div class="profileContainer">
                        <img src="{% static 'images/defaultPfp.jpg' %}" class="profileImage">
                    </div>
                    <div class="dropdownContent">
                        <a href="{% url 'settings' %}" class="dropdownItem">Settings</a>
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="dropdownItem" style="width: 100%">Log Out</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="logoContainer">
                <a href="{% url 'home'%}">
                    <img class="logo" src="{% static 'images/EasyBook.png' %}">
                </a>
            </div>
        </div>
        
        <!--page content-->
        <div class="pageDisplay">
            <aside>
                <a href="{% url 'book' %}" class="asideButton">Book a Meeting</a>
                <a href="{% url 'viewBooking' %}" class="asideButton">View or Edit a Meeting</a>
            </aside>
            <div class="contentBox">
                <h1>View Bookings</h1>
                    {% if messages %}
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    {% endif %}    
                    <div class="meetingsBox">
                        {% for booking in bookings %}
                        <div class="meetingCard">
                            <a href="{% url 'editBooking' booking.id %}" class="meetingInstance">{{ booking.date }}, in Room {{ booking.room }}</a>
                        </div>
                        {% endfor %}
                    </div>
            </div>
        </div>
        <script src="{% static 'navbar.js' %}"></script>
        <!--footer-->
    </body>
</html>