<!DOCTYPE html>
<html>
    {% load static %}
    <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
    <header>
        <title>EasyMeetingBooker - View Bookings</title>
    </header>
    <body>
        <!-- nav -->
        <div class="navbarContainerHome">
            <div class="navItemContainer">
                <div class="dropdownContainer">
                    <div class="profileContainer">
                        <img src="assets/luka_test.jpg" class="profileImage">
                    </div>
                    <div class="dropdownContent">
                        <a href="{% url 'settings' %}" class="dropdownItem">Settings</a>
                        <a href="{% url 'index' %}" class="dropdownItem">Log Out</a>
                    </div>
                </div>
            </div>
            <div class="logoContainer">
                <img class="logo" src="{% static 'images/EasyBook.png' %}">
            </div>
        </div>
        
        <!--page content-->
        <div class="pageDisplay">
            <aside>
                <a href="{% url 'book' %}" class="asideButton">Book a Meeting</a>
                <a href="{% url 'signUp' %}" class="asideButton">View or Edit a Meeting</a>
            </aside>
            <div class="contentBox">
                <h1>View Bookings</h1>
            </div>
        </div>
        <script src="{% static navbar.js %}"></script>
        <!--footer-->
    </body>
</html>